@use "variables" as v;

@mixin G-setting {
  @each $GG, $G in v.$Gap {
    --G-#{$GG}: #{$G};
  }
}

// fixed 화면 꽉차게
@mixin fixed($z-index-name) {
  position: fixed;
  z-index: var($z-index-name);
}

@mixin fixed-full($z-index-name) {
  @include fixed($z-index-name);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin fixed-item($z-index-name) {
  @include fixed($z-index-name);
  --ex-transform: none;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%) var(--ex-transform);
}

@mixin fixed-item-center($z-index-name) {
  @include fixed($z-index-name);
  --ex-transform: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) var(--ex-transform);
}

@mixin box-lrtb-gap($G) {
  width: calc(var(--r) - var(--l) + 2 * var(#{$G}));
  height: calc(var(--b) - var(--t) + 2 * var(#{$G}));
  transform: translate(
    calc(var(--l) - var(#{$G})),
    calc(var(--t) - var(#{$G}))
  );
}
