$L-steps: (
  DD: 45%,
  D: 60%,
  B: 75%,
  L: 85%,
  LL: 95%,
);

$C-fixed: 20%;

$H-steps: (
  0: 0deg,
  1: 20deg,
  2: 65deg,
  3: 110deg,
  4: 155deg,
  5: 200deg,
  6: 245deg,
  7: 290deg,
  8: 335deg,
);

$Gap: (
  S: 0.1rem,
  M: 0.3rem,
  L: 0.5rem,
);
