$L-steps: (
  DD: 55%,
  D: 65%,
  B: 75%,
  L: 85%,
  LL: 95%,
);

$C-fixed: 15%;

$H-steps: (
  0: 0deg,
  1: 30deg,
  2: 75deg,
  3: 120deg,
  4: 165deg,
  5: 210deg,
  6: 255deg,
  7: 300deg,
  8: 345deg,
);

$Gap: (
  S: 0.1rem,
  M: 0.3rem,
  L: 0.5rem,
  XL: 1rem,
);
