.sbj-tree-contents {
  margin-left: 1rem;
  overflow: hidden;

  &.hidden {
    display: none;
  }
}

.sbj-tree-title {
  background-color: lightgray;
  button,
  div {
    display: inline-block;
  }
}

.sbj-tree-item {
  width: fit-content;
  background-color: transparent;

  &.selected {
    background-color: red;
  }
}

.ghost {
  position: fixed;
  pointer-events: none;
  background-color: blue;
  opacity: 0.5;
  z-index: 999;
}
